<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="Replace Island Browser"
            android:supportsRtl="true"
            android:theme="@style/Theme.ReplaceBrowser">

        <meta-data
                android:name="xposedmodule"
                android:value="true" />

        <meta-data
                android:name="xposeddescription"
                android:value="Replace the default browser of Hyper OS Dynamic Island." />

        <meta-data
                android:name="xposedscope"
                android:resource="@array/example_scope" />

        <meta-data
                android:name="xposedminversion"
                android:value="54" />
    </application>

</manifest>